<h1>Connexion maître du jeu</h1>
<form action="/auth" method="POST" id="auth-form">
  <label for="login">Identifiant</label>
  <input type="text" id="login" name="login" required>

  <label for="password">Mot de passe</label>
  <input type="password" id="password" name="password" required>

  <button type="submit">Se connecter</button>
</form>

  <div class="oauth-buttons">
    <a class="oauth-button google" href="/auth/provider/google">Connexion avec Google</a>
    <a class="oauth-button discord" href="{{linkdiscordauth}}">Connexion avec Discord</a>
  </div>
