<div class="accordion">
<h1>Initialisation d'une table</h1>
<form id="init-form" action="/board/init" method="POST">
    <label for="game-name">Nom de la partie</label>
    <input type="text" id="game-name" name="game_name" required>
    <label>Personnaliser l'URL ?</label>
    <div>
      <input type="radio" id="url-no" name="custom_url" value="non" checked>
      <label for="url-no">Non</label>
      <input type="radio" id="url-yes" name="custom_url" value="oui">
      <label for="url-yes">Oui</label>
    </div>

    <div id="custom-url-field" style="display: none;">
      <label for="custom-url-input">URL personnalisée</label>
      <input type="text" id="custom-url-input" name="custom_url_value">
    </div>

    <label for="allowed-types">Types de personnages autorisés</label>
    <div class="checkbox-group">
      <label><input type="checkbox" name="types[]" value="humain" checked> humain</label>
      <label><input type="checkbox" name="types[]" value="barbare" checked> Barbare</label>
      <label><input type="checkbox" name="types[]" value="nain" checked> Nain</label>
      <label><input type="checkbox" name="types[]" value="haut-elfe" checked> Haut Elfe</label>
      <label><input type="checkbox" name="types[]" value="demi-elfe" checked> Demi-elfe</label>
      <label><input type="checkbox" name="types[]" value="elfe-sylvain" checked> Elfe Sylvain</label>
      <label><input type="checkbox" name="types[]" value="elfe-noir" checked> Elfe Noir</label>
      <label><input type="checkbox" name="types[]" value="orque" checked> Orque</label>
      <label><input type="checkbox" name="types[]" value="demi-orque" checked>Demi orque</label>
      <label><input type="checkbox" name="types[]" value="gobelin" checked> Gobelin</label>
      <label><input type="checkbox" name="types[]" value="ogre" checked> Ogre</label>
      <label><input type="checkbox" name="types[]" value="semi-homme" checked> Semi-homme</label>
      <label><input type="checkbox" name="types[]" value="gnome-des-forets-du-nord" checked> Gnôme des forêts du nord</label>      
    </div>

<button type="submit">Initialiser</button>
</form>
</div>