<div class="referral-container">
    <h1>Bienvenue !</h1>
    <p>
      Bonjour, le maître du jeu <strong>{{nom_du_mj}}</strong> t'a intronisé afin que tu puisses toi aussi martyriser des joueurs de jeu de rôle.
    </p>
    <p>
      Ce lien est à usage unique et périssable. Ne gâche pas ta chance !
    </p>
    <p>
      Commence par t'authentifier avec ton compte préféré :
    </p>
    <div class="oauth-buttons">
      <a class="oauth-button google" href="/oauth.php?provider=google">Connexion avec Google</a>
      <a class="oauth-button discord" href="/oauth.php?provider=discord">Connexion avec Discord</a>
    </div>
  </div>