<!DOCTYPE html>
<html lang="fr">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Tinad Naheulbeuk</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      margin: 0;
      padding: 0;
    }
    nav {
      background-color: #333;
      color: white;
      padding: 1em;
    }
    .nav-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
    }
    .nav-left a,
    .nav-right a {
      color: white;
      text-decoration: none;
      margin-right: 1em;
    }
    .nav-right a:last-child {
      margin-right: 0;
    }
  </style>
  <style>{{customCSS}}</style>
  <script>{{customJS}}</script>
</head>
<body>
 
  <nav role="navigation">
    <div class="nav-container">
      <div class="nav-left">
        <!-- BEGIN navmenus -->
        <a href="{{navmenus.url}}" {{navmenus.current}} target="_self">{{navmenus.caption}}</a>
        <!-- END navmenus -->
    </div>
    <div class="nav-right">
        <!-- BEGIN authlink -->
        <a href="/auth" target="_self">{{authlink.title}}</a>
        <!-- END authlink -->
        <!-- BEGIN logoutlink -->
        <a href="/logout" target="_self">{{logoutlink.title}}</a>
        <!-- END logoutlink -->
    </div>

  </nav>

  <section id="main">
    {{content}}
  </section>

</body>
{{after_body_tag}}
</html>