<div class="logo-container">
    <img src="/logo.png" alt="Logo jdr.tinad.fr" class="site-logo">
</div>
<div class="description">
    <p><strong>Bienvenue sur JdR Tinad</strong> – une plateforme en ligne dédiée aux parties de jeu de rôle dans l’univers parodique de Naheulbeuk !<br/>
    Ici, meneurs et joueurs peuvent créer des personnages, gérer leurs feuilles, lancer des dés, et vivre des aventures aussi épiques qu’improbables... directement depuis leur navigateur.
    Que vous soyez un rôliste aguerri ou un aventurier du dimanche, préparez-vous à explorer donjons, tavernes et catastrophes en bonne compagnie !
    </p>
</div>
<div class="tutoslinks" >
    <ul>
        <li><a href="/tutos/mecaniques">Mécaniques d'un JDR (dés, compétences...)</a></li>
        <li><a href="/tutos/aventurier">Tutoriel de l'aventurier</a></li>
        <li><a href="/tutos/mj">Tutoriel du maître du jeu</a></li>
    </ul>
</div>